:root {
  --md-typeset-line-height: 1.8; /* Tăng hẳn lên 1.8 cho chữ có chân dễ thở */
}
.md-typeset {
  font-size: 0.84rem; /* Tăng nhẹ size chữ tổng thể */
  letter-spacing: 0.01em; /* Giãn nhẹ chữ ra một chút */
}