{% extends "partials/header.html" %}

{% block header %}
<header class="md-header" data-md-component="header">
  <nav class="md-header__inner md-grid">
    <!-- Title -->
    <a href="{{ config.site_url | default(nav.homepage.url, true) | url }}" class="md-header__button md-logo" aria-label="{{ config.site_name }}">
      {% include "partials/logo.html" %}
    </a>

    <!-- Random Button -->
    <div class="md-header__random">
      <button class="md-header__button md-icon" title="Bài ngẫu nhiên" onclick="window.getRandomPost()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M274.9..."/></svg>
      </button>
    </div>
  </nav>
</header>
{% endblock %}